@import url('https://fonts.googleapis.com/css2? família= Abrir+Sans:wght@300;400;500;600;700;800 & display=swap');
*{
	margin: 0;
	padding: 0;
}

.container {
	padding-top: 10px;
	padding-right: 10px;
	background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}
ul{
	padding-top: 10px;
}

i{
	color: #f2f2f2;
}
.gallery-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2vw;
	padding: 0 1vw;
}
.gallery-items{
	border-radius: 30px;
	width: 200px;
	height: 200px;
	background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
	border: 10px solid #f2f2f269;
	box-shadow: 5px 5px 5px #0006;
	transition: transform 0.10s linear;
}
.gallery-items img{
	border-radius: 20px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
footer{
	border-radius: 25px;
}
footer span{
	padding: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
	font-style: italic;
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer a:hover{
	text-decoration: none;
	color: #fff;
}
.myIcon img{
	height: 100px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
	display: flex;
	justify-content: flex-start;
}
.myIcon p {
	color: #000;
	display: flex;
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 25px;
}
.sobreMim {
	padding-top: 10px;
	padding-right: 10px;
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
}
h4{
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}
.sobre {
	padding: 20px;
	background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
	font-family: 'Open Sans';
	font-weight: 200;
	border-radius: 30px 10px 30px 10px;
}
.projetos {
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
	font-family: 'Open Sans';
}
.sobre p {
	font-size: 23px;
}
ul li a:hover{
	text-decoration: none;
}
.color_html{
	color: #f16529;
}
.color_js{
	color: #f0db4f;
}
.color_css{
	color: #33a9dc;
}
.color_bootstrap{
	color: #7511f6;
}
.color_php{
	color: #7586c1;
}
.desc_projetos{
	padding: 10px;
	background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
	font-family: 'Open Sans';
	font-weight: 300;
	border-radius: 20px;
	justify-content: center;
}

/* Botao de Voltar pro Topo */
.btn-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}
.arrow-topo{
	color: black;
}
div a:hover{
	text-decoration: none;
}

.arrow-topo:hover{
	color: rgb(117, 0, 138);
	text-decoration-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}